<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src='https://mini.wggai.com/storage/js/assist.js'></script>
<script src='https://mini.wggai.com/storage/js/main-left-menu.js'></script>
<script src='https://mini.wggai.com/storage/js/main-dish-management.js'></script>
<script src='https://mini.wggai.com/storage/js/main-send-management.js'></script>
<script src='https://mini.wggai.com/storage/js/main-order-detail.js'></script>
<script src='https://mini.wggai.com/storage/js/main-comment-management.js'></script>
<script src='https://mini.wggai.com/storage/js/main-money-statistics.js'></script>
<script src='https://mini.wggai.com/storage/js/main-exit.js'></script>
<script>
    for(let i of document.images){
        i.ondragstart=function(){
            return false;
        };
    }
</script>
</body>
</html>