<div class="main-order-detail">

	<div class="detail">
		<div class='query'>
			<div class="detail-li">
				关键词：
				<input class='keyword' value="" type='text'>
				<img class='icon' src="https://mini.wggai.com/storage/img/main-order-detail/close.png">
			</div>
			<button>查询</button>

			<a>手动刷新</a>
			<div class='rankway-select'>
				<span>时间从新到旧</span>
				<img src="https://mini.wggai.com/storage/img/main-dish-management/down.png">
				<div class='options'>
					<div data-v="1">时间从新到旧</div>
					<div data-v="2">时间从旧到新</div>
					<div data-v="3">置顶自提订单</div>
					<div data-v="4">置顶配送订单</div>
					<div data-v="5">置顶已取餐订单</div>
					<div data-v="6">置顶已送出订单</div>
					<div data-v="7">置顶未送出订单</div>
				</div>
			</div>
			<span>排序：</span>
		</div>
	</div>


	<div class="table-wrap">
		<table cellspacing="0" class="orders-data">
			<thead>
			<tr>
				<th>订单ID</th>
				<th>订单详情</th>
				<th>收货人</th>
				<th>地址</th>
				<th>下单时间</th>
				<th>订单备注</th>
				<th>标记状态</th>
			</tr>
			</thead>

			<tbody></tbody>
		</table>
		<div class='page-chooser'>
			<div class='first'><<</div>
			<span class='numbers'></span>
			<div class='last'>>></div>
		</div>
	</div>
</div>