<div class="main-exit">
	
	<div class="window">

		<div class="title">
			登出
			<img src="https://mini.wggai.com/storage/img/main-exit/exit.png" />
		</div>

		<div class="content">
			<p>确认登出吗？</p>
			<div class="btns">
				<button>是</button>
			</div>
		</div>

	</div>

</div>