<div class='main-left-menu'>
    <div class="logo">
      <img src="https://mini.wggai.com/storage/img/login/logo.png">
      <div class='logo-description'>
       <img class='ldimg' src="https://mini.wggai.com/storage/img/login/spoon.png"/>
      	<span>餐品管理系统后台商户端</span> 
       <img class='ldimg' src="https://mini.wggai.com/storage/img/login/fork.png" />
      </div>
    </div>

    <ul>
    	<li><img src="https://mini.wggai.com/storage/img/main-left-menu/menu-dish-management.png">
            <span>菜品管理</span>
        </li>
    	<li><img src="https://mini.wggai.com/storage/img/main-left-menu/menu-send-management.png">
            <span>配送管理</span>
        </li>
    	<li>
            <img src="https://mini.wggai.com/storage/img/main-left-menu/menu-order-detail.png">
            <span>订单明细</span>
        </li>
    	<li>
            <img src="https://mini.wggai.com/storage/img/main-left-menu/menu-comment-management.png">
            <span>评论管理</span>
        </li>
    	<li>
            <img src="https://mini.wggai.com/storage/img/main-left-menu/menu-money-statistics.png">
            <span>营业额统计</span>
        </li>
        <li>
            <img src="https://mini.wggai.com/storage/img/main-left-menu/menu-exit.png">
            <span>登出</span>
        </li>
    </ul>
</div>