<div class="main-send-management">
	
	<div class="detail">
		<div class="detail-li">
			<div style="float:left;">下单时间：</div>
			<div style='transform:translateX(70px);' class='rankway-select'>
				<span>全部</span>
				<img src="https://mini.wggai.com/storage/img/main-dish-management/down.png">
				<div class='options'>
					<div data-v="1">暂无更多</div>
					<div data-v="2">暂无更多</div>
					<div data-v="3">暂无更多</div>
					<div data-v="4">暂无更多</div>
				</div>
			</div>
		</div>
		<div class="detail-li"  style='width:13rem;'>
			<span>关键词：</span>
			<input class='keyword' style='width:8rem;' value="" type='text'>
			<img class='icon' src="https://mini.wggai.com/storage/img/main-order-detail/close.png">
		</div>
		<button style="transform: translateY(-2px);margin-left:1rem;">查询</button>
		<a>手动刷新</a>
		<div style='float:right;' class="detail-li">
			<div style="float:left;">筛选：</div>
			<div style="transform:translateX(56px);" class='rankway-select'>
				<span>配置未配送</span>
				<img src="https://mini.wggai.com/storage/img/main-dish-management/down.png">
				<div class='options'>
					<div data-v="1">暂无更多</div>
					<div data-v="2">暂无更多</div>
					<div data-v="3">暂无更多</div>
					<div data-v="4">暂无更多</div>
				</div>
			</div>
		</div>
	</div>


	<table cellspacing="0" class="sends-data">
		<thead>
			<tr>
				<th>订单ID</th>
				<th>配送时间</th>
				<th>配送地址</th>
				<th>收货人</th>
				<th>订单详情</th>
				<th>配送员</th>
				<th>订单状态</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th>
		          	<img class='icon' src="https://mini.wggai.com/storage/img/main-send-management/edit.png">
					<img class='icon' src="https://mini.wggai.com/storage/img/main-send-management/minus.png">
	          </th>
			</tr>
		</tbody>
	</table>

	<h3 style='text-align:center;margin-top:100px;'>
		未开放配送服务，敬请期待！
	</h3>
</div>